<!DOCTYPE html>
<html class="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Movie Elo</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="9b67199b-cef2-4099-ad81-54089c8ddcd0"></script>

  @inertiaHead()
  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
</head>

<body>
  @inertia({ as: 'main' })
</body>

</html>
