@import 'satoshi.css';
@import 'cabinet-grotesk.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-content;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-titles;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }
}

:root {
  --accent: 194, 19, 19;

  --vis-color-main: #c21313 !important;
  --vis-color0: #c21313 !important;
  --vis-color1: #f93a3a !important;
  --vis-color2: #ffa0a0 !important;
  --vis-color3: #ffe0e0 !important;
  --vis-color4: #851717 !important;
  --vis-color5: #480707 !important;
}

.category-rating .p-togglebutton {
  flex-grow: 1;
}

.p-tab {
  background-color: transparent !important;
}

.p-password-input {
  flex-grow: 1 !important;
}
